# Root .gitignore

# Ignore venv and pycache for backend
/backend/venv/
/backend/__pycache__/
 


# Ignore node_modules and cache for frontend
/frontend/node_modules/
/frontend/dist/
# etc...

# Ignore environment files
/backend/.env
/frontend/.env
